<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FortWar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FortWar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FortWar.Properties.Settings>
            <setting name="mainWindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="mainWindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="isGameSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gameHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="gameWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="firstPlayerCityX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="firstPlayerCityY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="secondPlayerCityX" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="secondPlayerCityY" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="numberSteeps" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="windowMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gameBot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="botSteep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondModeIsSaved" serializeAs="String">
                <value>False</value>
            </setting>
        </FortWar.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FortWar.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>V. 0.1</value>
            </setting>
        </FortWar.Properties.Settings>
    </applicationSettings>
</configuration>